[user]
    name = Aaron Arntz
	email = aarntz@gmail.com
[github]
    user = arntzy
[credential]
	helper = osxkeychain
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	logg = log --graph --decorate --oneline --abbrev-commit --all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
