[user]
  name = Aaron Arntz
	email = aarntz@gmail.com
[github]
  user = arntzy
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	logg = log --graph --decorate --oneline --abbrev-commit --all
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
